# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ IDEA (config locale dell'IDE, non da committare)
.idea/

# VS Code
.vscode/

# MD files (documentazione di progetto, non in Git)
/*.md

# OS X
.DS_Store
